@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ||VARIABLES */
:root {
    --BGCOLOR: #171717;
    --COLOR-PRIMARY: #DFD3C3;
    --COLOR-SECONDARY: #3A86FF;
    --COLOR-ACCENT: #fff;
}

body {
    background-color: var(--BGCOLOR);
    color: var(--COLOR-PRIMARY);
    margin: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ||TOP PAGE */
/* Menu */
header {
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.03));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 3rem;
    z-index: 1;
}

p a {
    font-size: 3.2rem;
    padding: 1rem;
}

ul {
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

p a , li a {
    color: var(--COLOR-PRIMARY);
    text-decoration: none;
}

p a:visited, 
a:visited {
    color: var(--COLOR-PRIMARY);
}

p a:hover,
a:hover {
    color: var(--COLOR-ACCENT);
}


/* ||IMAGE & TEXT */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding: 10rem 10rem;
    color: #fff;
}

/* main image */
.nine-image {
    width: 380px;
    height: auto;
    border-radius: 1.3rem;
    position: relative;
    z-index: 1;
}

/* text */
.first-text {
    line-height: 1.6;
    left: 5rem;
    position: relative;
    z-index: 1;
}

.first-text h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.first-text p {
    font-size: 2.3rem;
    color: var(--COLOR-PRIMARY);
    margin-bottom: 2rem;
}

.first-text h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.first-text ul {
    list-style-type: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}


/* ||CONTACT */
.contact {
    margin: 0 7.8rem 3rem 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

h3 {
    font-size: 2rem;
}

div .image-contact {
    width: 32px;
}

.logo-contact {
    display: flex;
    gap: 3rem;
}

h3 {
    color: var(--COLOR-SECONDARY);
}

h3 a {
    color: var(--COLOR-ACCENT);
    text-decoration: none;
}


/* background image animation */
.no-delay {
    width: 10%;
    height: auto;
    margin-left: 3rem;

    animation: 15s linear infinite slide;
}

.delay-7s {
    width: 10%;
    height: auto;
    margin-left: 10rem;
    opacity: 0;

    animation: 15s linear 7s infinite slide;
}

.delay-3s {
    width: 10%;
    height: auto;
    margin-left: 24rem;
    opacity: 0;

    animation: 15s linear 3s infinite slide;
}

.delay-5s {
    width: 10%;
    height: auto;
    margin-left: 23rem;
    opacity: 0;

    animation: 15s linear 5s infinite slide;
}

.delay-9s {
    width: 10%;
    height: auto;
    margin-left: 10rem;
    opacity: 0;

    animation: 15s linear 11s infinite slide;
}

@keyframes slide { 
    0% { 
        transform: translateY(180px); 
        opacity: 0; 
    } 
    
    33% { 
        transform: translateY(-183px); 
        opacity: 0.5; 
    } 
    
    66% { 
        transform: translateY(-546px); 
        opacity: 0.5; 
    } 
    
    100% { 
        transform: translateY(-909px); 
        opacity: 0.5; 
    }
}


/* ||Mobile */
@media (max-width: 600px) {
    /* ||TOP PAGE */
    /* Menu */
    header {
        font-size: 1.5rem;
    }
    
    p a {
        font-size: 2rem;
        padding: 0.5rem;
    }
    
    ul {
        margin: 0.3rem;
    }


    /* ||IMAGE & TEXT */
    .profile {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 1.5rem 0 1.5rem;
    }

    /* main image */
    .nine-image {
        width: 250px;
        height: auto;
    }

    /* text */
    .first-text {
        line-height: 1.6;
        left: 0.8rem;
    }

    .first-text h1 {
        font-size: 2.5rem;
    }

    .first-text p {
        font-size: 1.8rem;
    }

    .first-text h2 {
        font-size: 2.5rem;
    }

    .first-text ul {
        font-size: 2rem;
    }


    /* ||CONTACT */
    .contact {
        margin: -40rem 7.8rem 10rem 7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;  
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-right: -1rem;
    }

    div .image-contact {
        width: 32px;
    }

    .logo-contact {
        display: flex;
        gap: 2rem;
        transform: translateY(-25%);
    }


    .no-delay {
        width: 25%;
        height: auto;
        margin-left: 0;
    }

    .delay-7s {
        width: 25%;
        height: auto;
        margin-left: -4rem;
        animation: 15s linear 10s infinite slide;
    }

    .delay-3s {
        width: 25%;
        height: auto;
        margin-left: 24rem;
    }

    .delay-5s {
        width: 25%;
        height: auto;
        margin-left: 25rem;
    }

    .delay-9s {
        width: 25%;
        height: auto;
        margin-left: 18rem;
        animation: 15s linear 13s infinite slide;
    }


    @keyframes slide { 
    0% { 
        transform: translateY(123px); 
        opacity: 0; 
    } 
    
    33% { 
        transform: translateY(-401px); 
        opacity: 0.5; 
    } 
    
    66% { 
        transform: translateY(-925px); 
        opacity: 0.5; 
    } 
    
    100% { 
        transform: translateY(-1450px); 
        opacity: 0.5; 
    }
}
}


/* ||TABLAT */
@media (min-width: 601px) and (max-width: 1024px) {

    /* ||TOP PAGE */
    /* Menu */
    header {
        font-size: 2rem;
    }
    
    p a {
        font-size: 2.5rem;
        padding: 0.5rem;
    }
 
    ul {
        margin: 0.3rem;
    }


    /* ||IMAGE & TEXT */
    /* main image */
    .nine-image {
        width: 275px;
        height: auto;
    }

    /* text */
    .first-text {
        line-height: 1.6;
        left: 0.8rem;
    }

    .first-text h1 {
        font-size: 2.5rem;
    }

    .first-text p {
        font-size: 1.8rem;
    }

    .first-text h2 {
        font-size: 2.5rem;
    }

    .first-text ul {
        font-size: 2rem;
    }


    /* ||CONTACT */
    .contact {
        margin: -40rem 7.8rem 60rem 4.2rem;
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        font-size: 2rem;
    }

    .logo-contact {
        display: flex;
        gap: 3rem;
    }


    .no-delay {
        width: 15%;
        height: auto;
        margin-left: 0;
    }

    .delay-7s {
        width: 15%;
        height: auto;
        margin-left: 2rem;
        animation: 15s linear 10s infinite slide;
    }

    .delay-3s {
        width: 15%;
        height: auto;
        margin-left: 15rem;
    }

    .delay-5s {
        width: 15%;
        height: auto;
        margin-left: 40rem;
    }

    .delay-9s {
        width: 15%;
        height: auto;
        margin-left: 10rem;
        animation: 15s linear 13s infinite slide;
    }

        @keyframes slide { 
    0% { 
        transform: translateY(123px); 
        opacity: 0; 
    } 
    
    33% { 
        transform: translateY(-401px); 
        opacity: 0.5; 
    } 
    
    66% { 
        transform: translateY(-925px); 
        opacity: 0.5; 
    } 
    
    100% { 
        transform: translateY(-1450px); 
        opacity: 0.5; 
    }
    }
}

